{% extends "layout.html" %}

{% block content %}
{% import "_macros.html" as macros %}

    <h1>Resistencias Flask</h1>
    <form action="" method="POST">
        <div class="row g-4">
            <div class="col-md-3">
                <label for="banda1">De que color es la banda 1:</label>
                <select name="banda1" id="banda1">
                    <option value="negro" selected> Negro </option>
                    <option value="cafe"> Cafe </option>
                    <option value="rojo"> Rojo </option>
                    <option value="naranja"> Naranja </option>
                    <option value="amarilo"> Amarillo </option>
                    <option value="verde"> Verde </option>
                    <option value="azul"> Azul </option>
                    <option value="violeta"> Violeta </option>
                    <option value="gris"> Gris </option>
                    <option value="blanco"> Blanco </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="banda2">De que color es la banda 2:</label>
                <select name="banda2" id="banda2">
                    <option value="negro2" selected> Negro </option>
                    <option value="cafe2"> Cafe </option>
                    <option value="rojo2"> Rojo </option>
                    <option value="naranja2"> Naranja </option>
                    <option value="amarilo2"> Amarillo </option>
                    <option value="verde2"> Verde </option>
                    <option value="azul2"> Azul </option>
                    <option value="violeta2"> Violeta </option>
                    <option value="gris2"> Gris </option>
                    <option value="blanco2"> Blanco </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="banda3">De que color es la banda 3:</label>
                <select name="banda3" id="banda3">
                    <option value="negro3" selected> Negro </option>
                    <option value="cafe3"> Cafe </option>
                    <option value="rojo3"> Rojo </option>
                    <option value="naranja3"> Naranja </option>
                    <option value="amarilo3"> Amarillo </option>
                    <option value="verde3"> Verde </option>
                    <option value="azul3"> Azul </option>
                    <option value="violeta3"> Violeta </option>
                    <option value="gris3"> Gris </option>
                    <option value="blanco3"> Blanco </option>
                </select>
            </div>
            <div class="col-md-3">
                <h3> Tolerancia </h3>
                <input type="radio" name="dorado" id="dorado" style="margin-right: 5px;"/> Dorado <br>
                <input type="radio" name="plata" id="plata" style="margin-right: 5px;"/> Plata <br><br>
            </div>
            <div class="col-md-3">
                <input type = "submit" style="margin-right: 15px;"/><input type="reset"/>
            </div>
        </div>
    </form>

    <table>
        <tr>
          <th>Color 1</th>
          <th>Color 2</th>
          <th>Color 3</th>
          <th>Tolerancia</th>
          <th>Valor</th>
          <th>Valor Máximo</th>
          <th>Valor Mínimo</th>
        </tr>
        <tr>
          <td>| {{color1}} |</td>
          <td>| {{color2}} |</td>
          <td>| {{color3}} |</td>
          <td>| {{tolerancia}} |</td>
          <td>| {{valor}} |</td>
          <td>| {{valormaximo}} |</td>
          <td>| {{valorminimo}} |</td>
        </tr>
      </table>

{% endblock %}